@model IEnumerable<ComedyCentral.Models.Comedy>
@{
    ViewBag.Title = "Home Page";
}

<ul class="shows">
    @foreach (var comedy in Model)
    {

    <li>
        <div class="date">
            <div class="months">
                @comedy.DateTime.ToString("MMM")
            </div>
            <div class="day">
                @comedy.DateTime.ToString("d ")
            </div>
        </div>
        <div class="details">
            <span class="artist">
                @comedy.Artist.Name
            </span>
            <span class="description">
                @comedy.Description.Name
            </span>
            <button data-gig-id="@comedy.Id" class="btn btn-default btn-sm pull-right ">Going?</button>
        </div>
        </li>
    }
</ul>

@section scripts
{
    @*<script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function(e) {
                var button = $(e.target);
                $.post("/api/attendances", { comedyId: button.attr("data-gig-id") })
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function() {
                        alert("Something failed!");
                    });
            });
        }); 
    </script>*@

}